

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-552829394641618027.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-552829394641618027.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-552829394641618027.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-552829394641618027.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-552829394641618027.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-552829394641618027.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-552829394641618027.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-552829394641618027.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-552829394641618027.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-552829394641618027.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-552829394641618027.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-552829394641618027.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-552829394641618027.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-552829394641618027 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-552829394641618027 .gp-mb-0{margin-bottom:0}.gps-552829394641618027 .gp-grid{display:grid}.gps-552829394641618027 .\!gp-hidden{display:none!important}.gps-552829394641618027 .gp-hidden{display:none}.gps-552829394641618027 .gp-max-w-full{max-width:100%}.gps-552829394641618027 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-552829394641618027 .gp-gap-y-0{row-gap:0}.gps-552829394641618027 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-552829394641618027 .gp-duration-200{transition-duration:.2s}.gps-552829394641618027 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-552829394641618027 .tablet\:\!gp-hidden{display:none!important}.gps-552829394641618027 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-552829394641618027 .mobile\:\!gp-hidden{display:none!important}.gps-552829394641618027 .mobile\:gp-hidden{display:none}}.gps-552829394641618027 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g1tPq4YaWX" data-id="g1tPq4YaWX"
        style="--op:100%;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%"
        class="g1tPq4YaWX gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-552829394641618027 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/1ah4tu-eq/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=552829394574378091&sectionId=552829394641618027)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
