

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-552829394641486955.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-552829394641486955.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-552829394641486955.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-552829394641486955.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-552829394641486955.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-552829394641486955.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-552829394641486955.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-552829394641486955.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-552829394641486955.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-552829394641486955.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-552829394641486955.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-552829394641486955.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-552829394641486955.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-552829394641486955.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-552829394641486955.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-552829394641486955.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-552829394641486955.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-552829394641486955.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-552829394641486955.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-552829394641486955.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-552829394641486955.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-552829394641486955.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-552829394641486955.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-552829394641486955.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-552829394641486955.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-552829394641486955.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-552829394641486955.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-552829394641486955.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-552829394641486955.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-552829394641486955.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-552829394641486955.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-552829394641486955.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-552829394641486955.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-552829394641486955.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-552829394641486955.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-552829394641486955.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-552829394641486955.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-552829394641486955.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-552829394641486955.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-552829394641486955.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-552829394641486955.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-552829394641486955.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-552829394641486955.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-552829394641486955.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-552829394641486955.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-552829394641486955.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-552829394641486955.gps.gpsil [style*="--z:"]{z-index:var(--z)}@media only screen and (max-width:1024px){.gps-552829394641486955.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-552829394641486955.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-552829394641486955.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-552829394641486955.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-552829394641486955.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-552829394641486955.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-552829394641486955.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-552829394641486955.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-552829394641486955.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-552829394641486955.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-552829394641486955.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-552829394641486955.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-552829394641486955 .gp-relative{position:relative}.gps-552829394641486955 .gp-z-1{z-index:1}.gps-552829394641486955 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-552829394641486955 .gp-mb-0{margin-bottom:0}.gps-552829394641486955 .gp-flex{display:flex}.gps-552829394641486955 .gp-inline-flex{display:inline-flex}.gps-552829394641486955 .gp-grid{display:grid}.gps-552829394641486955 .\!gp-hidden{display:none!important}.gps-552829394641486955 .gp-hidden{display:none}.gps-552829394641486955 .gp-h-full{height:100%}.gps-552829394641486955 .gp-max-w-full{max-width:100%}.gps-552829394641486955 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-552829394641486955 .gp-flex-col{flex-direction:column}.gps-552829394641486955 .gp-items-center{align-items:center}.gps-552829394641486955 .gp-justify-center{justify-content:center}.gps-552829394641486955 .gp-gap-y-0{row-gap:0}.gps-552829394641486955 .gp-overflow-hidden{overflow:hidden}.gps-552829394641486955 .gp-break-words{overflow-wrap:break-word}.gps-552829394641486955 .gp-rounded-none{border-radius:0}.gps-552829394641486955 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-552829394641486955 .gp-no-underline{text-decoration-line:none}.gps-552829394641486955 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-552829394641486955 .gp-duration-200{transition-duration:.2s}.gps-552829394641486955 .gp-duration-300{transition-duration:.3s}.gps-552829394641486955 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-552829394641486955 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-552829394641486955 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-552829394641486955 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-552829394641486955 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}}.gps-552829394641486955 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-552829394641486955 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-552829394641486955 .tablet\:\!gp-hidden{display:none!important}.gps-552829394641486955 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-552829394641486955 .mobile\:\!gp-hidden{display:none!important}.gps-552829394641486955 .mobile\:gp-hidden{display:none}}.gps-552829394641486955 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-552829394641486955 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--bottom:0px;--left:0px;--pos:fixed;--z:2;--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="gMeqiTOZQ1" data-id="gMeqiTOZQ1"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:0px;--pb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gMeqiTOZQ1 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gSDmP9EBeU gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--ta:left"
    
  >
    <style>
    .g5lTXLWsx5.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .g5lTXLWsx5:hover::before {
      
      
    }

    .g5lTXLWsx5:hover .gp-button-icon {
      color: undefined;
    }

     .g5lTXLWsx5 .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .g5lTXLWsx5:hover .gp-button-price {
      color: undefined;
    }

    .g5lTXLWsx5 .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .g5lTXLWsx5 .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .g5lTXLWsx5:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <button
      type="button" data-id="g5lTXLWsx5" aria-label="Back to Top ↑"
      
      data-state="idle"
      class="g5lTXLWsx5 gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3"
      style="--hvr-bg:#161723;--bg:#161723;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:10px;--pr:10px;--pt:12px;--pb:12px;--c:var(--g-c-text-3, text-3);--size:14px;--size-tablet:14px;--size-mobile:14px;--ff:var(--g-font-Inter-Tight, 'Inter Tight'), var(--g-font-body, body);--weight:600;--ls:0.5px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:14px;--size-tablet:14px;--size-mobile:14px;--c:var(--g-c-text-3, text-3)"
      >
        {{ section.settings.gg5lTXLWsx5_label }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

      <script id="custom-js-g5lTXLWsx5">
        try {
          //const currentElement = document.getElementsByClassName('g5lTXLWsx5');

document.addEventListener('DOMContentLoaded', function(){

 document.querySelector('.g5lTXLWsx5').addEventListener('click', function(e){
                e.preventDefault();
                document.body.scrollTop = 0; 
                document.documentElement.scrollTop = 0;
              })
              
              
})
        } catch(err){}
      </script>
    
    </div>
    </div>
  
            </section>
           
    
      <style id="custom-css-gMeqiTOZQ1">
        .gMeqiTOZQ1:not(.gp-show) {
    display: none !important;
}
@media screen and (min-width: 989px) {
 .gMeqiTOZQ1 {
        display: none !important;
    }
}
#storefront .gMeqiTOZQ1{
    display: block !important;
}

@media screen and (max-width: 989px) {
  footer.footer {
    margin-bottom: 45px !important;
  }
  
  header.header .btn-custom {
    display: none !important;
  }
}

      </style>
    
      <script id="custom-js-gMeqiTOZQ1">
        try {
          //const currentElement = document.getElementsByClassName('gMeqiTOZQ1');


document.addEventListener('DOMContentLoaded', function(){
    const sticky = document.querySelector('.gMeqiTOZQ1');

   
   window.addEventListener("scroll", () => {
       
     const testimonial = document.querySelector('.gdarNjOTaa').getBoundingClientRect(); 
     
     if(window.scrollY > (testimonial.top + window.scrollY - window.innerHeight /2)){
         sticky.classList.add('gp-show');
     }else{
         sticky.classList.remove('gp-show');
     }
       
       
   });
   
   
})
        } catch(err){}
      </script>
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/intertight/v7/NGSnv5HMAFg6IuGlBNMjxJEL2VmU3NS7Z2mj0QiaWy5U.woff) format('woff');
}
/* cyrillic-ext */
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/intertight/v7/NGSnv5HMAFg6IuGlBNMjxJEL2VmU3NS7Z2mj0QiaVi5UgqoUP_C5ErM.woff) format('woff');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/intertight/v7/NGSnv5HMAFg6IuGlBNMjxJEL2VmU3NS7Z2mj0QiaXy5UgqoUP_C5ErM.woff) format('woff');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/intertight/v7/NGSnv5HMAFg6IuGlBNMjxJEL2VmU3NS7Z2mj0QiaVy5UgqoUP_C5ErM.woff) format('woff');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/intertight/v7/NGSnv5HMAFg6IuGlBNMjxJEL2VmU3NS7Z2mj0QiaWC5UgqoUP_C5ErM.woff) format('woff');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/intertight/v7/NGSnv5HMAFg6IuGlBNMjxJEL2VmU3NS7Z2mj0QiaVC5UgqoUP_C5ErM.woff) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/intertight/v7/NGSnv5HMAFg6IuGlBNMjxJEL2VmU3NS7Z2mj0QiaVS5UgqoUP_C5ErM.woff) format('woff');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/intertight/v7/NGSnv5HMAFg6IuGlBNMjxJEL2VmU3NS7Z2mj0QiaWy5UgqoUP_C5.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-552829394641486955 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/1ah4tu-eq/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=552829394574378091&sectionId=552829394641486955)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg5lTXLWsx5_label","label":"gg5lTXLWsx5_label","default":"Back to Top ↑"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
